@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

:root {
  --clr-mint: #cad9d2;
  --clr-rosewater: #ffded1;
  --clr-melon: #f9b1a5;
  --clr-marigold: #f3c984;
  --clr-olive: #b7b578;
  --clr-warm-gray: #727375;
  --clr-dark-gray: #595a5c;
  --clr-blkgray: #303030;

  --ff-primary: 'Amaranth', sans-serif;
  --ff-accent: 'Source Sans Pro', sans-serif;
  --ff-atkinson: 'Atkinson Hyperlegible', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.5em;
  font-family: var(--ff-accent);
  color: var(--clr-blkgray);
}

.header {
  background-image: url("https://images.unsplash.com/photo-1579202558739-17e09566bd6f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2788&q=80");
  background-repeat: no-repeat;
  background-color:#f4f8f9;
  background-size: contain;
  height: 250px;
  background-position: right;
  background-repeat: no-repeat;
}

/* h1 {
  font-family: var(--ff-primary);
  font-size: 4.2rem;
  color: var(--clr-spruce);
  text-shadow: white;
}

h2 {
  font-size: 1.8rem;
}

h4 {
  margin: 0;
} */

ul {
  list-style: none;
}

li {
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.amaranth {
  font-family: var(--ff-primary);
}

/* COLUMNS */

.equal-columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 0 2rem;
}

.equal-columns > * {
  flex-basis: 100%;
  padding: 0 2rem;
}

/* NAVBAR */

.navbar, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.3rem;
}

.action {
  padding: 0.8em 5em;
  background-color: var(--clr-spruce);
  border: 2px solid var(--clr-spruce);
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.login {
  padding: 0.6rem;
  color: var(--clr-spruce);
  background-color: var(--clr-sidecar);
  border: 2px solid var(--clr-sidecar);
  border-radius: 3px;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
}

.action:hover, .login:hover {
  transition: all .2s ease-in-out;
  opacity: 75%;
}


/* HEADER */

.header {
  height: 35.5rem;
}

.header-title {
  padding-left: 3rem;
}

.header-img {
  object-fit: scale-down;
  height: 42rem;
  width: 100%;
}

.footer-pic {
  position: absolute;
  bottom: 0;
}

.header-body {
  padding: 0.5rem 0 4rem 0;
}

.main {
  color: var(--clr-apple);
  padding: 3rem 1rem;
}

.info-card {
  margin: 2rem;
  padding: 2rem 3rem;
  text-align: center;
  align-items: center;
  border-radius: 0.4rem;
  height: 18rem;
}

.info-card > p {
  font-size: 1.4rem;
}
